@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    background: linear-gradient(217deg, orange, rgba(255,0,0,0) 70%),
            linear-gradient(127deg, lightgreen, rgba(0,0,255,0) 70.71%);
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
}
img{
    height: 340px;
    width: 582px;
}
.image-section{
    display: flex;
    margin-left: 20px;
}
.image-section-2{
    display: flex;
    margin-left: 20px;
    margin-right: 13px;
}
.section-style-2{
    margin-left: 50px;
}
.section-style-4{
    margin-left: 50px;
}
h4{
    text-align: center;
}
